<div style="margin: 4%">

  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Company</th>
      <th>Action</th>
    </tr>
    
    <tr *ngFor="let u of userList">
      <td>{{ u.name }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.address.city}}</td>
      <td>{{ u.phone}}</td>
      <td>{{ u.company.name }}</td>
      <button type="button" class="btn btn-danger" (click)="deleteUser(i)" style="border-radius:0%">Delete</button>

    </tr>            
  </table>

</div>