<div class="" style="background-color:white;padding:20px;margin-left:20px;margin-right:20px;">
    <ul class="nav nav-tabs">
      <li role="presentation"><a routerLink="/" class="glyphicon glyphicon-align-justify">User List</a></li>
      <li role="presentation"><a routerLink="/addUser" class="glyphicon glyphicon-plus-sign">Add User</a></li>
    </ul>
    <router-outlet></router-outlet>
    <!--<div>
      <app-book-list></app-book-list>  
    </div>
    <div>
      <app-add-book ></app-add-book>  
    </div>-->
  </div>
  