<form class="form-horizontal" style="margin-top:30px">
  <div class="form-group">
    <label class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Name <label style="color:red">*</label></label>
    <div class="col-sm-7">
      <input type="text" name="name" [(ngModel)]="bname" class="form-control" id="inputEmail3" style="border-radius: 0%">
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Email<label style="color:red">*</label></label>
    <div class="col-sm-7">
      <input type="text" name="email" [(ngModel)]="bemail" class="form-control" id="inputPassword3" style="border-radius: 0%">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Address<label style="color:red">*</label></label>
    <div class="col-sm-7">
      <input type="text" name="address" [(ngModel)]="baddress" class="form-control" id="inputPassword3" style="border-radius: 0%">
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Phone Number</label>
    <div class="col-sm-7">
      <input type="text" name="phone" [(ngModel)]="bphone" class="form-control" id="inputPassword3" style="border-radius: 0%">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Company</label>
    <div class="col-sm-7">
      <input type="text" name="company" [(ngModel)]="bcompany" class="form-control" id="inputPassword3" style="border-radius: 0%">
    </div>
  </div>
  
  <div class="col-sm-offset-2">
    <button type="button" (click)="addUser()" style="margin-left:6px;background-color:lightseagreen;border-style:none;padding: 6px 12px;color:white">Add User</button>  
  </div>

  
  
</form>
